<div class=" mb-4 ">
  <div class="rounded bg-gray-100 grid grid-cols-4 shadow-md ">
    <% if customer.image.attached? %>
      <%= image_tag customer.image.representation(resize_to_limit: [300, 300]) %>
    <% else %>
      <p >No image</p>
    <% end %>
  
    <div class="m-5">
      <span class="block font-bold text-lg"><%= customer.full_name %></span>
      <span class="block text-sm "><%= customer.email_address %></span>
      <span class="block text-sm "><%= customer.phone_number %></span>
      
    </div>
    <span class="text-sm "><%= customer.notes %></span>
  </div>
</div>